* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
  color: #333333;
  background: #FFFFFF;
}

h1 {
  font-weight: 900;
  margin: 20px 0 20px 0;
}

h2 {
  color: #AAAAAA;
  font-weight: 500;
  font-size: 200%;
  margin: 20px 0;
}

h3 {
  font-weight: 300;
}

p {
  font-weight: 100;
}

h1, h2, h3, h4, h5, p, ul {
  margin: 10px 0;
}

ul {
  padding: 20px 0 20px 60px;
}

.progress-bar {
  background: #DF6868;
}

.logo {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 140px;
  width: 140px;
}

@media (max-width: 979px) {
  .logo {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 768px) {
  .logo {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 80px;
    width: 80px;
  }
}

.slide-content {
  width: 100%;
  height: 100%;
/*  min-height: 600px;
  min-width: 800px;
  max-height: 800px;
  max-width: 1200px;*/
  margin: 0 auto;
  padding: 30px;
}

.title .slide-content {
  display: table;
}

.title h1 {
  display: table-cell; 
  vertical-align: middle;
  z-index: 10;
}

.presenter img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border: 5px solid #AAAAAA;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}


.presenter h2 {
  color: #333333;
}
.presenter p {
  text-align: center;
}

.presenter ul {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  list-style: none;
  display: inline-block;
  text-align: center;
}

.presenter li {
  display: inline;
  padding: 0 10px;
}

.sponsors h1 {
  margin: 20px 0 40px 0;
}

.sponsors p {
  float: left;
  text-align: center;
  width: 50%;
  padding: 0 20px;
}

.sponsors p > img {
  width: 100%;
  max-width: 240px;
}

.image p > img {
  max-width: 600px;
  max-height: 400px;
  margin: 20px auto;
  display: table-cell;
}